@model IEnumerable<Finalproject.Models.Notification>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-controller="Dashboard">Back</a>
</p>

<form asp-action="Index" method="post">
<button type="submit">Refresh</button>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRead)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discriminator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRead)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discriminator)
            </td>
            <td>
                    <a asp-action="UpdateReadStatus" asp-route-id="@item.Id">
                        @if (item.IsRead == false)
                        {
                            <div>Mark As Read</div>
                        }
                        else
                        {
                            <div>Mark as Unread</div>
                        }
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
