@model IEnumerable<Finalproject.Models.Project>

@{
    ViewData["Title"] = "Projects Over Budget";
}

<h1>Projects Over Budget</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Progress %
            </th>
            <th>
                Status
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Budget)
            </th>
            <th>
                Total Cost
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                Starts
            </th>
            <th>
                Ends
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
               <progress style="width:70px;" max="100" value="@item.PercentageCompleted"></progress>
                <span id="show" style="font-size:12px;">@item.PercentageCompleted&nbsp;</span> &nbsp;
            </td>
            <td>
                @if(item.IsCompleted==true){<p>Completed</p>}
                @if(item.IsCompleted==false){<p>Active</p>}
            </td>
            <td>
               @string.Format("{0:C}", item.Budget)
            </td>
            <td>
                @string.Format("{0:C}", item.TotalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @item.StartDate.Value.ToString("yy/MM/dd")
            </td>
            <td>
                @if(item.EndDate != null){@item.EndDate.Value.ToString("yy/MM/dd")}
            </td>
            <td>
                @item.Deadline.Value.ToString("yy/MM/dd")
            </td>
        </tr>
}
    </tbody>
</table>
