@model PaginatedList<Finalproject.Models.Project>
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" asp-controller="ProjectHelper">Create New</a>  |
    <a asp-action="OverdueTasks">Overdue Tasks</a>  |
    <a asp-controller="Notifications">Notifications (@ViewData["Count"])</a>  |
    <a asp-action="ExceedBudgetProjects" asp-controller="ProjectsExceededBudget">Exceeded Budget Projects</a>
</p>


@using (Html.BeginForm("Index", "Dashboard", FormMethod.Get))
{
    <p>
        Find by Title: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string) 
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th >
                Title
            </th>
            <th >
                Description
            </th>
            <th >
                <a asp-action="Index" asp-route-orderString="PercentageCompleted">Progress %</a> 
            </th>
            <th >
                <a asp-action="Index" asp-route-orderString="IsCompleted">Status</a> 
                
            </th>
            <th >
                Budget
            </th>
            <th >
                Total Cost
            </th>
            <th >
                <a asp-action="Index" asp-route-orderString="Priority">Priority</a>
            </th>
            <th >
               Start&nbsp;&nbsp;Date&nbsp;
            </th>
            <th >
                @*End Date .*@
                End&nbsp;&nbsp;Date&nbsp;
            </th>
            <th >
                Deadline
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <progress style="width:70px;" max="100" value="@item.PercentageCompleted"></progress>
                <span id="show" style="font-size:12px;">@item.PercentageCompleted&nbsp;</span> &nbsp;
            </td>
            <td>
                @if(item.IsCompleted==true){<p>Completed</p>}
                @if(item.IsCompleted==false){<p>Active</p>}
                
            </td>
            <td>
                @string.Format("{0:C}", item.Budget)
            </td>
            <td>
                @string.Format("{0:C}", item.TotalCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @item.StartDate.Value.ToString("yy/MM/dd")
            </td>
            <td>
                @if(item.EndDate != null){@item.EndDate.Value.ToString("yy/MM/dd")}
            </td>
            <td>
                @item.Deadline.Value.ToString("yy/MM/dd")
            </td>
            <td>
                 @if(item.IsCompleted==false){<a asp-action="Edit" asp-controller="ProjectHelper" asp-route-projectId="@item.Id">Edit</a><span>&nbsp;|</span>}
                
                <a asp-action="Details" asp-controller="ProjectHelper" asp-route-projectId="@item.Id">Details</a> |
                <a asp-action="Delete" asp-controller="ProjectHelper" asp-route-projectId="@item.Id">Delete</a>
            </td>
        </tr>

}
    </tbody>
</table>
@*The properties HasPreviousPage and HasNextPage can be used to enable or disable Previous and Next paging buttons*@
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

@*Show current page index and total pages*@
Page @(Model.TotalPages < Model.PageIndex ? 0 : Model.PageIndex) of @Model.TotalPages

@*Go to previous page: pageIndex -1, and pass the pageNumber to Action Index*@
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
@*Go to next page: pageIndex +1*@
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>